@model Shipping.Europost.Configurable.Models.EuropostShippingPointModel
@{
    Layout = "";
}
<div class="form-horizontal">
    <div class="form-body">
        <div class="row">
            <div class="col-md-12 my-2">@Model.WarehouseName</div>
        </div>
        <div class="row">
            <div class="col-md-12">@Model.Info1</div>
        </div>
    </div>
</div>