@model Shipping.ShippingPickupPoint.Models.PointModel
@{
    Layout = "";
}
<div class="form-horizontal">
    <div class="form-body">
        <div class="row">
            <div class="col-12">@Loc["Shipping.ShippingPickupPoint.MethodAndFee", Model.ShippingPickupPointName]</div>
        </div>
        <div class="row">
            <div class="col-md-12">@Model.CountryName,&nbsp;@Model.ZipPostalCode&nbsp;@Model.City,&nbsp;@Model.Address1</div>
        </div>
    </div>
</div>